GOERLI_RPC_URL = 'https://eth-goerli.g.alchemy.com/v2/IkquhVpfwFkh-EIKSbQT12iExEU286nT'
REPORT_GAS=false
COINMARKETCAP_API_KEY="abe2efc2-1ed1-4c21-aacb-efcf4d5b109a"
ETHERSCAN_API_KEY = 4QGIFQGW6YGF1IRZZS3FHD3B7ZZHRQREJ8
PRIVATE_KEY = NOT_POSTED_HERE
